<%= form_for @comment, html: {class: "new-comment card"} do |f| %>
  <fieldset>
    <h2>Leave a Comment</h2>
  </fieldset>
  <%= render partial: '/partials/flash', locals: { alert: @alert, notice: @notice } %>
  <%= render partial: '/partials/errors', locals: { object: @event } %>
  <fieldset>
    <%= f.label :name, "Name:", class: "label" %>
    <%= f.text_field :name, class: "comment-input" %>
  </fieldset>
  <fieldset>
    <%= f.label :content, "Content:", class: "label" %>
    <%= f.text_area :content, class: "comment-input" %>
  </fieldset>
  <fieldset>
    <%= f.submit "Save" %>
  </fieldset>
<% end %>