<%= form_for @event, html: {class: "new-event card"} do |f| %>
  <fieldset>
    <h2>Log a new event</h2>
  </fieldset>
  <%= render partial: '/partials/flash', locals: { alert: flash[:alert], notice: flash[:notice] } %>
  <%= render partial: '/partials/errors', locals: { object: @event } %>
  <fieldset>
    <%= f.label :log_txt, "Paste log here:", class: "label" %>
    <%= f.text_area :log_txt %>
  </fieldset>
  <fieldset>
    <%= f.submit "Log Event" %>
  </fieldset>
<% end %>