<div class="event-container">
  <div class="card">
    <h3>Logged Events</h3>
    <%= render partial: '/partials/flash', locals: { alert: flash[:alert], notice: flash[:notice] } %>
    <ul class="event_list">
      <% @events.each do |event| %>
      <li class="event_item">
        <span>Id: <%=event.id%></span>
        <span>Source IP: <%=event.src%></span>
        <span>Destination IP: <%=event.dst%></span>
        <%= link_to "View Event", event_path(event) %>
      </li>
      <% end %>
    </ul>
    <%= link_to "Log a New Event", new_event_path, method: :get %>
    </div>
  </div>
</div>