<div class="event-container">
  <section class="card">
    <article class="event-group">
      <h3>Source IP Address:</h3>
      <p><%= @event.src %></p>
    </article>
    <article class="event-group">
      <h3>Destination IP Address:</h3>
      <p><%= @event.dst %></p>
    </article>
    <article class="event-group">
      <h3>Full log text:</h3>
      <p><%= @event.log_txt %></p>
    </article>
    <article class="event-group">
      <%= link_to "Return to Index", events_path, class: "event-control" %>
      <%= button_to "Delete This Event", @event, method: :delete, class: "event-control" %>
    </article>
  </section>
  <%= render partial: "/comments/form" %>
  <%= render partial: "/comments/comments_list", locals: {comments: @event.comments} %>
</div>