<div class="event-container">
  <section class="card">
    <article class="event-group">
      <h3>Source IP:</h3>
      <li class="info-item"><b>Address: </b><%= @event.src %> </li>
      <li class="info-item"><b>Is Valid: </b><%= @event.src_is_valid %> </li>
      <li class="info-item">
        <b>Is Private: </b><%= @event.src_is_valid ? @event.src_is_private : "N/A" %>
      </li>
      <li class="info-item"><b>Address: </b><%= @event.src %> </li>
    </article>
    <article class="event-group">
      <h3>Destination IP Address:</h3>
      <li class="info-item"><b>Address: </b><%= @event.src %> </li>
      <li class="info-item"><b>Is Valid: </b><%= @event.src_is_valid %> </li>
      <li class="info-item">
        <b>Is Private: </b><%= @event.src_is_valid ? @event.src_is_private : "N/A" %>
      </li>
      <li class="info-item"><b>Address: </b><%= @event.src %> </li>
    </article>
    <article class="event-group">
      <h3>Full log text:</h3>
      <p><%= @event.log_txt %></p>
    </article>
    <article class="event-group">
      <%= link_to "Return to Index", events_path, class: "event-control" %>
      <%= button_to "Delete This Event", @event, method: :delete, class: "event-control" %>
    </article>
  </section>
  <%= render partial: "/comments/form", locals: { parent: @event } %>
  <%= render partial: "/comments/comments_list", locals: { comments: @event.comments } %>
</div>